*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: #ede9f8;
    --color-primary: #0055A4;
    --color-secondary: #C1DCF4;
    --color-accent: #F59A23;
}
body{
    background: var(--color-secondary);
    color: white;
    font-family: 'poppins',sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
    color: var(--color-primary);
    border-bottom: 8px solid var(--color-accent);
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    border-radius: 10px 0px 0px 10px;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border: 1px solid var(--color-primary);
}
a{
    color: var(--color-primary);
    outline: none;
    text-decoration: none;
}
form button{
    color: var(--color-primary);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0 10px 10px 0;
}
form button:hover{
    background: var(--color-accent);
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.todo li{
   flex: 1;
}
.todos{
    border-radius: 10px;
}
.filter-todo{
   border-radius: 10px;
}

.trash-btn, .complete-btn{
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.trash-btn{
    border-radius: 0 10px 10px 0;
}
.complete-btn{
    background: rgb(138, 240, 138);
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
    
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: var(--color-primary);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: var(--color-primary);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: 0.3s ease all;
}
.select:hover::after{
    background: white;
    color: var(--color-accent);
}
input{
    font-size: 1.4rem;
}