* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: #ffffff;
    --color-primary: #000000;
    --color-accent: #90b5d3;
    --dB: #1b3e4f;
}

body {
    background-image: url(./useme.jpg);
    color: white;
    /* change this font family ** */
    font-family: 'poppins', sans-serif;

    min-height: 100vh;
}

header {
    /* waitlist words at the top of the screen */
    font-size: 1.5rem;
    background-color: var(--color-primary);
    border-bottom: 8px solid var(--color-accent);
}



header,
form {
    /* the black row at the top of the screen */
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    /* the name and number box roundness */
    border-radius: 10px 10px 10px 10px;
}

form input,
form button {
    /* the buttons you inssert name number and phone number in and the add button */
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    background: white;
    border: 1px solid var(--color-primary);
}

a {
    /* waitlist title at the top of the page */
    color: var(--bg-color);
    outline: none;
    text-decoration: none;
}

form button {
    /* button that adds names to the waitlist */
    color: var(--color-primary);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px 10px 10px 10px;
}

form button:hover {
    /* changes the add button to blue when you hover */
    background: var(--color-accent);
    color: white;
}

.todo-container {
    /* the boxes the name gets added into */
    display: flex;
    justify-content: center;
    align-items: center;


}

.todo-list {
    /* The size of the boxes the names get added into */
    min-width: 40%;
    list-style: none;
}

.todo {
    /* the boxes that names are added into */
    /* Space between entries */
    margin: 0.5rem;
    /* the backgroud color of the boxes */
    background: white;
    /* the color of the names when added */
    color: var(--dB);
    /* the font size of the names when added */
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    /* the curve of the edges */
    border-radius: 10px;
}

.todo li {
    flex: 1;
    /* display flex */
}

/* .todos {
    border-radius: 100px;
} */

/* .filter-todo {
    border-radius: 10px;
} */

.trash-btn,
.complete-btn {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.trash-btn {
    /* trashcan button */
    border-radius: 0 10px 10px 0;
}

.complete-btn {
    /* checkmark button */
    background: var(--color-accent);

}

.todo-item {
    /* space between the begining and the first letter of the names entered */
    /* .3 is up and down and 1.5 iss to the right */
    padding: .3rem 1.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    /* when the task is completed how it falls off the list */
    transform: translateY(20rem) rotateZ(15deg);
    opacity: 0;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: var(--color-primary);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: var(--color-primary);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: 0.3s ease all;
}

.select:hover::after {
    background: white;
    color: var(--color-accent);
}

input {
    font-size: 1.4rem;
}